body {
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}
.highlight{
font-family: 'Montez', cursive;
text-align: center;
font-size:36px;
  
  
}